
{% form_theme producerForm 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-4 text-center mt-3">
   <div class="card p-3 bg-light">
      <h3 class="alert alert-primary">Add producer</h3>
      {{ form_start(producerForm) }}
         
      {{ form_widget(producerForm)}}
      <input class="btn btn-outline-danger" type="submit" value="Add">

      {{ form_end(producerForm) }}
   </div>
</div>
{% endblock %}