
{% form_theme phoneForm 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-8 text-center mt-3">
   <div class="card p-3 bg-light">
      <h3 class="alert alert-primary">Add phone</h3>
      {{ form_start(phoneForm) }}
         
      {{ form_widget(phoneForm)}}
      <input class="btn btn-outline-danger" type="submit" value="Add">

      {{ form_end(phoneForm) }}
   </div>
</div>
{% endblock %}